.input__wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
   
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  .input__file-button {
    width: 300px;
    height: 60px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    color: #eeeeee;
  }

  .divImage{
    background-color: #ccc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }